#mapid {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  z-index: 0;
  box-shadow: 3px 100px 200px 10px #333;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.row {
  margin-bottom: 15px
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.spinner {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .4) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .spinner {
  display: block;
}
.navbar-brand {
  float: left;
  height: 57px;
  padding: 22px 15px;
  font-size: 16px;
  font-family: monospace;
  line-height: 20px;
}
.navbar-nav>li>a {
  padding-top: 22px;
  padding-bottom: 15px;
  font-size: 16px;
  font-family: monospace;
}
.navbar-nav {
  float: right;
}
a:link, a:visited, a:hover {
  color: white;
  text-decoration: none;
}
