#mapid {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 3px 100px 200px 10px #333;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.row{
  margin-bottom: 15px
}
.leaflet-container{
  border-radius: 5px;
}
